/* App.css */
.App {
  text-align: center;
  font-family: 'Arial', sans-serif;
}

h1, h2 {
  color: #4CAF50;
}


/* Modal styles */
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.home_icon {
  font-size: 512px !important;
}

.home_icon_form {
  font-size: 256px !important;
}

.home_icon_form_submit {
  font-size: 256px !important;
  -webkit-transition: color 1000ms linear;
  -ms-transition: color 1000ms linear;
  transition: color 1000ms linear;
}

.home_button {
  font-size: 80px !important;
}

.small_home_button {
  font-size: 50px !important;
}

.left {
  width: 50%;
  float:left;
}

.left_button {
  font-size: 124px !important;
}

.right {
  width: 50%;
  float:right;
}

.modal {
  outline: 0!important;
}

.center { 
  margin-left: auto;
  margin-right: auto;}

#back {
  position: fixed;
  left: 0;
  top:0;
}

.fertlize_icon {
  color: '#009688';
}