APScheduler==3.11.0
blinker==1.9.0
click==8.2.1
dnspython==2.7.0
Flask==3.1.1
Flask-APScheduler==1.13.1
flask-cors==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==2.3.1
pymongo==4.13.2
python-dateutil==2.9.0.post0
pydantic==2.11.7 
pydantic-core==2.33.2
six==1.17.0
tzlocal==5.3.1
Werkzeug==3.1.3
